@import "variables";

.home-container {
  display: flex;
  flex-direction: column;
  // width: 90%;
  box-sizing: border-box;
  // padding: 0 15em;
  // height: 100%;
  // background: yellow;
  padding: 0 5em;
  // margin-top: 90px;

  h1 {
    font-family: 'ProximaNova-Extrabld';
    font-size: 48px;
    color: $white;
  }

  .heavy-rotation-wrapper {
    display: flex;
    flex-direction: column;
    color: $white;

    .header {
      h2 {
        font-family: 'ProximaNova-Extrabld';
        font-size: 18px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.07);
        margin-top: 50px;
      }
    }

    .playlists {
      margin-top: 30px;

      ul {
        display: flex;
        flex-direction: row;

        li {
          position: relative;
          display: flex;
          flex-direction: column;
          background: $playlist-thumbnail-gray;
          border-radius: 15px;
          padding: 20px 20px 40px 20px;

          .playlist-thumbnail-wrapper {
            .thumbnail {
              a {
                text-decoration: none;

                img {
                  width: 140px;
                  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
                }
              }

              p:first-of-type {
                font-family: 'ProximaNova-Bold';
                font-size: 14px;
                color: $white; 
                margin-top: 10px;
              }

              p:last-of-type {
                font-family: 'ProximaNova-Regular';
                font-size: 13px;
                color: $gray; 
                margin-top: 5px;
              }
            }

            .play-button {
              position: absolute;
              top: 5px;
              left: 10px;
              z-index: 1;
              opacity: 0;

              .triangle {
                position: relative;
                width: 0; 
                height: 0; 
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;                
                border-left: 13px solid $white;
                top: 200px;
                left: 120px;
                text-align: left;
                z-index: 1;
              }
              .circle {
                position: absolute;
                top: 190px;
                left: 107px;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background: $green;
              }
            }
          }
        }

        li:nth-child(even) {
          margin: 0 20px;
        }

        li:hover {
          .play-button {
            opacity: 1;
          }

          .play-button:hover {
            position: absolute;
            transform: scale(1.10);
            top: -15px; 
            left: -1px;
          }
        }
      }
    }
  }
}