@import "variables";

.search-index.search-bar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3em;
  width: 100%;
  height: 100%;

  .bar-wrapper {
    position: relative;
    width: 100%;

    .search-icon-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1%;
      margin: auto 0;
      content: image_url('search/search_icon.png');
      width: 1.5%;
    }

    input[type=text] {
      position: relative;
      font-family: 'ProximaNova-Regular';
      font-size: 1em;
      width: 40%;
      box-sizing: border-box;
      padding: 0.75em 1.25em 0.75em 2.8125em;
      border-radius: 25px;
      border: none;
    }
  }

  /* Search results styling */

  .search-error-wrapper {
    text-align: center;

    h2 {
      font-family: 'ProximaNova-Bold';
      font-size: 26px;
      letter-spacing: 1px;
      color: $white;
      margin-top: 150px;
    }

    p {
      font-family: 'ProximaNova-Regular';
      color: $white;
      font-size: 15px;
      margin-top: 10px;
    }
  }

  .search-result.result-container {
    margin-top: 3.75em;

    .header-container {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $white;
        font-family: 'ProximaNova-Bold';
        font-size: 26px;
        letter-spacing: 0.5px;
        list-style: none;
        width: 100%;

        li {
          width: 45%;
        }
      }
    }

    .returned-results-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 3em;

      .primary-result-wrapper {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 220px;
        padding: 20px;
        background: $logout-button-gray;
        border-radius: 15px;
        margin-top: -30px; 

        .result-track {
          width: 100px;
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        }

        .result-other {
          width: 100px;
          border-radius: 50%;
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        }

        a {
          font-family: 'ProximaNova-Bold';
          color: $white;
          font-size: 28px;
          letter-spacing: 0.5px;
          text-decoration: none;
          margin-top: 20px;
        }

        a:hover {
          text-decoration: underline;
        }

        .label {
          width: 80px;
          text-align: center;
          background: #202020;
          border-radius: 15px;
          margin-top: 10px;

          p {
            font-family: 'ProximaNova-Regular';
            font-size: 12px;
            font-weight: 800;
            letter-spacing: 0.5px;
            color: $white; 
            text-transform: uppercase;
            margin: 0 auto; 
            padding: 7px 10px;
          }
        }
      }

      .returned-tracks-wrapper {
        margin-top: -25px;
        width: 45%;

        ul {
          font-family: 'ProximaNova-Regular';
          list-style: none;

          li {
            margin-bottom: 5px;

            .tracks {
              display: flex;
              flex-direction: row;
              align-items: center;

              .image {
                img {
                  width: 70px;
                  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.1);
                  margin-right: 20px;
                }
              }

              .track-text {
                p:first-child {
                  color: $white;
                }

                p:last-child {
                  color: $gray;
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}