@import "variables";

.playlist-detail-wrapper {
  display: flex;
  flex-direction: row;
//   width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      position: relative;

      .play-button {
        position: absolute;
        top: 100px;
        left: 100px;
        z-index: 1;
        opacity: 0;

        .triangle {
          position: relative;
          top: 15px;
          left: 25px;
          background: $white; 
          text-align: left;
        }

        .triangle:before,
        .triangle:after {
          content: '';
          position: absolute;
          background: inherit;
        }

        .triangle,
        .triangle:before,
        .triangle:after {
          width: 20px;
          height: 20px;
          border-top-right-radius: 30%;
        }

        .triangle.right {
          transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
        }           

        .triangle:before {
          transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
        }

        .triangle:after {
          transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
        }
         
        .circle {
          position: absolute;
          top: -5px;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 2px solid $audio-progress-gray;
        }
      }

      img {
        width: 270px;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.6); 
      }
    }

    .image:hover {            
      .play-button {
        opacity: 1;
        transition: opacity 0.5s;
      }

      .play-button:hover {
        cursor: default;
        transform: scale(1.05); 

        .circle {
          border: 2px solid $white;
        }
      }

      .overlay {
        position: absolute;
        width: 270px;
        height: 270px;
        background: rgba(0, 0, 0, 0.6); 
        transition: background 0.5s;
      }
    }

    h1 {
      font-family: 'ProximaNova-Extrabld';
      font-size: 25px;
      letter-spacing: 1px;
      color: $white;
      margin-top: 20px;
    }

    .user-wrapper {
      height: 20px;
      margin-top: 10px;

      a {
        text-decoration: none;
        font-family: 'ProximaNova-Regular';
        font-size: 15px; 
        letter-spacing: 0.5px;
        color: $dark-gray; 
      }

      a:hover {
        border-bottom: 1px solid $dark-gray;
      }
    }

    p:last-of-type {
      font-family: 'ProximaNova-Regular';
      font-size: 12px;
      color: $gray;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 20px;
    }
  }

  .tracks {
    margin-left: 20px; 
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        margin: 0 0 5px 15px;
        flex-direction: row;
        align-items: flex-start;

        .track-info {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          position: relative;
          padding: 15px 20px;
          width: 90%;

          .track-note {
            width: 15px;

            .music-note-icon {
              content: image_url('playlists/music-note-icon.png'); 
              width: 10px;
            }
          }

          .track-text {
            margin-left: 15px;

            p {
              font-family: 'ProximaNova-Regular';
            }

            p:first-of-type {
              font-size: 18px;
              color: $white;
              margin-bottom: 20px;
            }

            p:last-of-type {
              font-size: 16px;
              color: $gray;
              margin-top: -15px;
            }
          }
        }

        .track-info:hover {
          background: $track-light-gray;

          .track-note {
            width: 15px;

            .music-note-icon {
              content: image_url('playlists/play-icon.png'); 
              width: 14px;
            }
          }
        }
      }
    }
  }
}