@import "variables";

.audio-player-container {
  position: fixed;
  top: 87%;   
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  background: $logout-button-gray;
  box-sizing: border-box;
  padding: 20px;

  .ap-track-detail {
    display: flex;
    flex-direction: row;
    width: 15%; 
    margin-top: -5px;
      
    img {
      width: 60px;
      height: 60px;
      box-shadow: 0 0 10px 8px rgba(0, 0, 0, 0.1); 
    }

    .ap-track-detail-text {
      margin: 10px 0 0 15px;
      vertical-align: center;

      p:first-child {
        font-family: 'ProximaNova-Regular';
        font-size: 15px;
        color: $white;
        margin-bottom: 2px;
      }

      p:last-child {
        font-family: 'ProximaNova-Regular';
        font-size: 13px;
        color: $gray;
      }
    }
  }

  .ap-main-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    .ap-main-control-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 35px;
      padding-bottom: 10px;

      .ap-shuffle-icon {
        content: image_url('audio_player/normal_audio_shuffle.png');
        width: 16px;
        margin-top: 5px;
      }

      .ap-shuffle-icon.shuffle-selected {
        content: image_url('audio_player/selected_audio_shuffle.png');
        width: 16px;
        margin-top: 16px;
      }

      .ap-shuffle-icon:hover {
        content: image_url('audio_player/hover_audio_shuffle.png');
        width: 16px;
      }

      .ap-shuffle-icon.shuffle-selected:hover {
          content: image_url('audio_player/selected_audio_shuffle.png');
          width: 16px;
      }

      .ap-previous-icon {
        content: image_url('audio_player/audio_previous.png');
        width: 12px;
        height: 12px;
        margin-left: 40px;
      }

      .ap-previous-icon:hover {
        content: image_url('audio_player/hover_audio_previous.png');
        width: 12px;
        height: 12px;
      }

      .ap-play-wrapper {
        width: 100px;
        text-align: center;

        .ap-play-icon {
          content: image_url('audio_player/audio_play.png'); 
          width: 35px;
        }

        .ap-play-icon:hover {
          content: image_url('audio_player/hover_audio_play.png');
          width: 38px;
          transition: all 0.2s;
        }
      }

      .ap-pause-icon {
        content: image_url('audio_player/audio_pause.png');
        width: 35px;
        margin: 0 25px;
      }

      .ap-next-icon {
        content: image_url('audio_player/audio_next.png');
        width: 12px;
        height: 12px;
        margin-right: 40px;
      }

      .ap-next-icon:hover {
        content: image_url('audio_player/hover_audio_next.png');
        width: 12px;
        height: 12px;
      }

      .ap-repeat-icon {
        content: image_url('audio_player/normal_audio_repeat.png');
        width: 16px;
        margin-top: 5px;
      }

      .ap-repeat-icon.repeat-selected {
        content: image_url('audio_player/selected_audio_repeat.png');
        width: 16px;
        margin-top: 16px;
      }

      .ap-repeat-icon:hover {
        content: image_url('audio_player/hover_audio_repeat.png');
        width: 16px;
      }

      .ap-repeat-icon.repeat-selected:hover {
        content: image_url('audio_player/selected_audio_repeat.png');
        width: 16px;
        margin-top: 16px;
      }
    }

    .ap-timeline-controls {
      display: flex;
      flex-direction: row;
      align-items: center;

      #ap-duration-time {
        font-family: 'ProximaNova-Regular';
        font-size: 13px;
        color: $gray;
        width: 27px;
      }

      #ap-timeline{
        width: 550px;
        height: 4px;
        border-radius: 15px;
        background: $audio-slider-gray;  
        margin: 0 10px;

        #ap-progress-bar {
          position: absolute;

          #ap-handle {
            width: 0;
            height: 4px;
            background: $audio-progress-gray; 
            border-radius: 15px; 
          }

          #ap-handle-circle {
            position: relative;
            left: -8px;
      	    width: 13px;
      	    height: 13px;
      	    border-radius: 50%;
      	    margin-top: -8px;
            background: $audio-progress-gray;   
            transform: scale(0.25);
          }
        }

        #ap-progress-bar:hover {
          #ap-handle {
            background: $green;
          }

          #ap-handle-circle {
            background: $audio-handle-circle-gray; 
            transform: scale(1);
          }
        }
      }

      #ap-end-time {
        font-family: 'ProximaNova-Regular';
        font-size: 13px;
        color: $gray;
        width: 27px;
      }
    }
  }

  .ap-volume-controls {
    display: flex;
    flex-direction: row;
    width: 15%;

    .ap-volume-icon {
      content: "";
      width: 17px;
      height: 14px;
      margin-right: 10px;

      .ap-volume-high {
        content: image_url('audio_player/audio_volume_high.png');
        width: 17px;
        height: 14px;
      }

      .ap-volume-low {
        content: image_url('audio_player/audio_volume_low.png');
        width: 14px;
        height: 13px;
      }

      .ap-volume-off {
        content: image_url('audio_player/audio_volume_off.png');
        width: 17px;
        height: 13px;
      }
    }

    #ap-volume-timeline { 
      margin-top: 5px;
      width: 85px;
      height: 5px;
      border-radius: 15px;
      background: $audio-slider-gray;  

      #ap-volume-progress-bar {
        position: absolute;

        #ap-volume-handle {
          width: 0;
          height: 4px;
          border-radius: 15px;
          background: $audio-progress-gray;
        }

        #ap-volume-handle-circle {
          position: relative;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: $audio-handle-circle-gray;
          top: -8px;
          left: -8px;
          transform: scale(0);
        }
      }

      #ap-volume-progress-bar:hover {
        #ap-volume-handle {
          background: $green;
        }

        #ap-volume-handle-circle {
          transform: scale(1);
        }
      }
    }
  }
}