@import "variables";

.app-container {
    header {
      .session-header-new {
        background: rgba(25, 20, 20, 0.7);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px; 

        img {
          width: 134px;
          height: 41px;
          margin-right: 600px;
        }

        .session-links-new {
          font-family: 'ProximaNova-Bold';
          font-size: 17px;
          
          a {
            text-decoration: none;
            color: $white;
          }

          a:first-child {
            margin-right: 35px;
          }

          a:hover {
            color: $green;
          }
        }
      }
    }
}