@import "variables";

.app-container {
  position: relative;
    overflow: hidden;
    
  .session-header-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1; 

    img {
      width: 134px;
      height: 41px;
      margin-right: 600px;
    }

    .upgrade-button {    
      width: 170px;
 
      a {
        font-family: 'ProximaNova-Regular';
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 2px;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        border-radius: 25px;
        border: 1px solid $white;
        padding: 10px 35px;
      }

      a:hover {
        cursor: default;
        font-size: 13px;;
      }
    }

    .logout-button {
      font-size: 12px; 
      font-weight: 600;
      color: $white;
      background: $logout-button-gray;
      border: none;
      border-radius: 25px;
      padding: 8px 30px;
      box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.6); 
    }

    .logout-button:hover {
      cursor: defeault;
      background: $logout-button-light-gray;
    }

    .session-links-new {
      font-family: 'ProximaNova-Bold'; 
      font-size: 17px;
      
      a {
        text-decoration: none;
        color: $white;
      }

      a:first-child {
        margin-right: 35px;
      }

      a:hover {
        color: $green;
      }
    }
  }
}