@import "variables";

.sidebar-nav-container {
  display: flex;
  flex-direction: column;
  background: $sidebar-gray;
  width: 300px;

  .sidebar-nav-main-content {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 25px;
 
    .sidebar-nav-header {
      a {
        img {
          width: 130px;
          height: 40px;
        }
      }
    }

    .sidebar-nav-main-links {
      display: flex;
      flex-direction: column;
      font-family: 'ProximaNova-Bold';
      margin: 40px 0 0 10px;
      font-size: 15px;

      #home-link {        
        a {
          display: flex; 
          flex-direction: row;
          align-items: center;
          color: $gray;
          text-decoration: none;

          i {
            margin-right: 15px;
          }
          
          #home-icon {
            content: image_url('normal-home-icon.png'); 
            width: 20px;
          }
        }

        a:hover {
          p {
            color: $white;
            transition: color 0.5s;
          }

          #home-icon {
            content: image_url('hover-home-icon.png');
            width: 20px;
          }
        }
      }
    }
  }
}