@import "variables";

.home-index-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: $home-background-gray;

  .home-index-main-content {
    display: flex;
    flex-direction: column;
    margin: 30px 50px 0 35px;
    width: 100%;

    .session-header-returning {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 40px;

      .session-header-upgrade-button {
        a {
          font-family: 'ProximaNova-Regular';
          font-weight: 700;
          font-size: 12px;
          letter-spacing: 2px;
          text-decoration: none;
          color: $white;
          text-transform: uppercase;
          border-radius: 25px;
          border: 1px solid $white;
          padding: 10px 35px;
          margin-right: 30px;
        }

        a:hover {
          font-size: 13px;
        }
      }

      button {
        font-size: 12px; 
        font-weight: 600;
        color: $white;
        background: $logout-button-gray;
        border: none;
        border-radius: 25px;
        padding: 8px 30px;
        box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.6); 
      }

      button:hover {
        cursor: pointer;
        background: $logout-button-light-gray;
      }
    }

    .home-index-heavy-rotation {
      .heavy-rotation-header {
        color: $white;

        h1 {
          font-family: 'ProximaNova-Extrabld';
          font-size: 48px;
        }

        h2 {
          font-family: 'ProximaNova-Extrabld';
          font-size: 18px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.07);
          margin-top: 50px;
        }
      }

      .heavy-rotation-playlists {
        ul {
          display: flex;
          flex-direction: row;
          list-style: none;
          font-family: 'ProximaNova-Regular';
          font-size: 13px;
          color: $gray;

          li {
            position: relative;
            width: 110px;
            height: 60px;
            margin-right: 20px;
            background: $playlist-thumbnail-gray;
            border-radius: 15px;
            padding: 92px 35px; 
          }

          .heavy-rotation-thumbnail-content {
            position: absolute;
            top: 150px;
            left: 20px;

            a {
              font-family: 'ProximaNova-Bold';
              font-size: 15px;
              text-decoration: none;
              color: $white;
            }

            p {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
} 