@font-face {
    font-family: 'ProximaNova-Regular';
    src: asset-url('ProximaNova-Regular.eot');
    src: asset-url('ProximaNova-Regular.eot') format('embedded-opentype'),
         asset-url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: asset-url('ProximaNova-Bold.eot');
  src: asset-url('ProximaNova-Bold.eot') format('embedded-opentype'),
       asset-url('ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: asset-url('ProximaNova-Extrabld.eot');
  src: asset-url('ProximaNova-Extrabld.eot') format('embedded-opentype'),
       asset-url('ProximaNova-Extrabld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$black: #191414;
$white: #FFFFFF;
$green: #1DB954;
$dark-green: #229544;
$gray: #88898c;