// @font-face {
//     font-family: 'proximaNova';
//     src: asset_url('./fonts/proximanova-regular-webfont.woff') 
// }
 
// @font-face {
//     font-family: 'proximaNova-bold';
//     src: asset_url('./fonts/proxima_nova_bold/ProximaNova-Bold.ttf')
// }

// @font-face {
//   font-family: 'proximaNova-bold';
//   src: asset_url('/fonts/proxima_nova_bold/ProximaNova-Bold.eot');
//   src: asset_url('/fonts/proxima_nova_bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
//        asset_url('/fonts/proxima_nova_bold/ProximaNova-Bold.woff') format('woff'),
//        asset_url('/fonts/proxima_nova_bold/ProximaNova-Bold.ttf') format('truetype'),
//        asset_url('/fonts/proxima_nova_bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

$black: #191414;
$white: #FFFFFF;
$green: #1DB954;