@import "variables";

.artist-detail.body-container {
  width: 100%;
  height: 100%;

  .artist-detail.banner-container { 
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    overflow: hidden;

    img {
      position: absolute;
      top: 25%;
      bottom: 0;
      margin: auto; 
      width: 100%;
      z-index: 1;
    }

    .banner-overlay-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0,0,0);
      background: linear-gradient(180deg, rgba(18,18,18,0.3211659663865546) 0%, rgba(18,18,18,0.5956757703081232) 50%, rgba(18,18,18,1) 100%);
      z-index: 2;
    }

    .artist-detail.header-container {
      position: relative;
      color: white;
      box-sizing: border-box;
      padding: 2em;
      z-index: 3;

      p:first-of-type {
        font-family: 'ProximaNova-Regular';
        text-transform: uppercase;
        font-size: 0.75em;
        letter-spacing: 0.2em; 
        margin-left: 0.5em;
      }

      h1 {
        font-family: 'ProximaNova-Extrabld';
        font-size: 100px;
        margin-top: 2%;
      }

      button {
        font-family: 'ProximaNova-Regular';
        font-size: 0.8em;
        color: white;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-weight: 700;
        background: $green;
        border: none;
        box-sizing: border-box;
        padding: 0.8em 3em;
        border-radius: 2em;
        margin-top: 3%;
      }
    }
  }

  .artist-detail.songs-container { 
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: 2em;

    h2 {
      font-family: 'ProximaNova-Bold';
      font-size: 1.2em;
      color: white;
    }

    ul {
      list-style: none;
      color: white;
      width: 100%;
      height: 100%;
      margin-top: 1%;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: 'ProximaNova-Regular';
        border-top: 1px solid $track-light-gray;
        padding-right: 1em;
        width: 60%;

        .artist-detail.name-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 80%;

          .artist-detail.image-wrapper {
            width: 2.5em;
            height: 2.5em;
            overflow: hidden; 

            img {
              width: 100%;
              height: 100%;
            }
          }

          .active {
            color: $green;
          }
        }

        .artist-detail.button-wrapper {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: $gray;
          width: 10%;
          height: 2.5em;
          margin-left: 3%;

          .play-button-wrapper, 
          .pause-button-wrapper {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            opacity: 0;

            .play-icon-wrapper {
              content: image_url('playlists/gray-play-icon.png');
              width: 0.7em;
            }
          }

          .play-button-wrapper {
            border: 1px solid $gray;
          }

          .pause-button-wrapper {
            border: 1px solid white;

            .pause-icon-wrapper {
              content: image_url('playlists/white-pause-icon.png');
              width: 0.7em;
            }
          }
        }

        .artist-detail.duration-container {
          color: $gray;
        }
      }

      li:last-of-type {
        border-bottom: 1px solid $track-light-gray;
      }

      /* Hover effects styling */

      li:hover {
        background: $track-light-gray;

        .artist-detail.button-wrapper {
          p {
            opacity: 0;
          }

          .play-button-wrapper,
          .pause-button-wrapper {  
            opacity: 1;
          }

          .play-button-wrapper:hover {
            border-radius: 50%;
            border: 1px solid white;
            transform: scale(1.05);
            transition: transform 0.5s; 

            .play-icon-wrapper {
              content: image_url('playlists/white-play-icon.png'); 
              width: 0.7em;
            }
          }
        }
      }
    }
  }
}